/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Inter', Arial, sans-serif;
  background: #f6f7fb;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* PAGE PRODUIT */
.product-page {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

/* IMAGE */
.product-left {
  flex: 1;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.product-left img {
  max-width: 350px;
  transition: 0.3s;
}

.product-left img:hover {
  transform: scale(1.05);
}

/* INFOS */
.product-right {
  flex: 1;
}

/* CATEGORIE */
.category {
  display: inline-block;
    color: rgb(73, 14, 135);
    font-size: 18px;
    margin-bottom: 12px;
    padding: 4px 10px;
    border-radius: 999px;
    background: rgb(238, 244, 255);
}

/* TITRE */
.product-right h1 {
  font-size: 30px;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

/* PRIX */
.price {
  font-size: 28px;
  font-weight: 520;
  color: #125a8e;
  margin: 15px 0;
}

/* DESCRIPTION */
.toggle-desc {
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 10px;
  color: #000;
}

.description {
  display: none;
  margin-bottom: 20px;
  color: #555;
  line-height: 1.6;
}

/* BOUTON PANIER */
.btn-cart {
  width: 100%;
  padding: 16px;
  background: #073d64;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cart:hover {
  background: #222;
}

/* CARD GLOBAL */
.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .product-left {
    padding: 20px;
  }
}