* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .inscription-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a18cff, #6fb1fc);
  }
  
  .inscription-container {
    background: white;
    width: 360px;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  }
  
  .inscription-container h2 {
    margin-bottom: 25px;
    color: #6a5cff;
  }
  
  .inscription-container input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  
  .inscription-container input:focus {
    outline: none;
    border-color: #6a5cff;
  }
  
  
  .role {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .role label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  .role input {
    transform: scale(1.4);
    accent-color: #6a5cff;
  }
  
  
  .inscription-container button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #6a5cff, #4facfe);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .inscription-container button:hover {
    opacity: 0.9;
  }
  